parameters:
    level: 2
    paths:
        - application
        - library
    scanDirectories:
        - vendor
    ignoreErrors:
        - '#Unsafe usage of new static\(\)#'
    universalObjectCratesClasses:
        - Icinga\Web\View
        - ipl\Orm\Model
        - Icinga\Data\ConfigObject
