div.images {
    h3 {
        clear: both;
    }

    img.svg {
        float: left;
        border: none;
    }

}

.collapsible {
  clear: right;  // Because the label is floating right

  height: 0;
  opacity: 0;
  visibility: hidden;

  -webkit-transition: opacity 0.2s linear, visibility 0.2s;
  -moz-transition: opacity 0.2s linear, visibility 0.2s;
  -o-transition: opacity 0.2s linear, visibility 0.2s;
  transition: opacity 0.2s linear, visibility 0.2s;
}

input[type="checkbox"].collapsible-toggle {
  display: none;

  & + label {
    float: right;
    margin-right: 1em;

    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  &:checked ~ .collapsible {
    height: auto;
    opacity: 1;
    visibility: visible;

    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
  }
  & ~ label span.collapsible-hide {
    display: none;
  }

  &:checked ~ label span.collapsible-show {
    display: none;
  }
  &:checked ~ label span.collapsible-hide {
    display: inline;
  }
}

div.images.monitored-object-detail-view {
  display: block;

  img.graphiteImg {
    width: 100%;
  }
}

ul.legend {
  background: #eee;
  list-style-type: none;
  margin: 0;
  padding: 1em;
  border: 1px solid #aaa;
  max-width: 40em;

  li {
    display: inline-block;
    width: 13em;
  }

  li div.color {
    width: 1em;
    height: 1em;
    border: 1px solid #666;
    margin-right: 0.5em;
    float: left;
  }

  li a {
    color: inherit;
  }

  li.disabled {
    div.color {
      border-style: dotted;
    }

    a {
      font-style: italic;
      text-decoration: line-through;
    }
  }
}

form[name=form_timerangepickercommon_graphite] select {
  width: 7.5em;
  margin-right: 0.25em;
}

form[name=form_timerangepickercustom_graphite] {
  input[type=date] {
    width: 12.5em;
  }

  input[type=time] {
    width: 7.5em;
  }
}

.timerangepicker-forms {
  padding: 0.25em;
  position: relative;

  > * {
    margin: 0.25em;
  }

  form[name="form_timerangepickercustom_graphite"] {
    position: absolute;
    background-color: #ffffff;
    border: thin dotted #000000;
  }
}

.grid-item {
  display: inline-block;
  border-radius: .25em;
  border: 1px solid @gray-lighter;
  min-width: 302px;
  vertical-align: top;
  margin-right: 1em;
  margin-bottom: 1em;
}

.grid-item  h2 {
  margin-top: 0;
  background: @gray-lightest;
  border-bottom: 1px solid @gray-lighter;
  padding:.25em .5em;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid-item > .images:not(:last-child) {
  margin-right: 1em;
  display: inline-block;
}

.grid-item .graphiteImg {
  margin-right: 1px;
}

.grid-item > p {
  padding: .5em;
  margin-bottom: 0;
}
