div.images {

    display: inline-block;

    h3 {
        clear: both;
    }

    img.svg {
        float: left;
        border: none;
    }

}

div.images.monitored-object-detail-view {
  display: block;

  img.graphiteImg {
    width: 100%;
  }
}

ul.legend {
  background: #eee;
  list-style-type: none;
  margin: 0;
  padding: 1em;
  border: 1px solid #aaa;
  max-width: 40em;

  li {
    display: inline-block;
    width: 13em;
  }

  li div.color {
    width: 1em;
    height: 1em;
    border: 1px solid #666;
    margin-right: 0.5em;
    float: left;
  }

  li a {
    color: inherit;
  }

  li.disabled {
    div.color {
      border-style: dotted;
    }

    a {
      font-style: italic;
      text-decoration: line-through;
    }
  }
}

form[name=form_timerangepickercommon_graphite] select {
  width: 7.5em;
  margin-right: 0.25em;
}

form[name=form_timerangepickercustom_graphite] {
  input[type=date] {
    width: 12.5em;
  }

  input[type=time] {
    width: 7.5em;
  }
}

.timerangepicker-forms {
  padding: 0.25em;

  > * {
    margin: 0.25em;
  }
}
